@charset "UTF-8";
*, *:before, *:after {
    box-sizing: inherit;
}
body{
	height: 100%;
	font-size: 1rem;
}
h3 {
    font-size: 1.25rem;
}
.inner {
    margin: 0 auto;
    max-width: 70rem;
}
a {
    text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
}
footer{
	margin-top:50px;
	text-align: center;
}
button, input, select, textarea {
    border-radius: 0;
    border: none;
    background: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    -webkit-text-size-adjust: none;
}
div {
    display: block;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
ol, ul {
    list-style: none;
}
body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}
fieldset, img {
    border: 0;
}
.wrap {
    position: relative;
}
.header {
    position: relative;
    color: #1e1e23;
}
.header_subindex {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 1px 1px 16px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
}
.profile_area {
    padding: 2px 20px 8px;
    text-align: center;
    box-sizing: border-box;
}
.header_subindex .profile_area {
    display: none;
}
.profile_area .photo {
    position: relative;
    display: inline-block;
}
.profile_area .photo img {
    border-radius: 50%;
    box-shadow: 0 3px 6px 0 rgb(29 34 53 / 8%);
    vertical-align: top;
}
.profile_area .profile {
    padding: 8px 0 16px;
}
.profile_area .profile .username {
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -.67px;
    word-break: break-all;
}
.header_left {
    display: none;
}
.shoppingid .container {
    background-color: #f9fbfc;
}
.shoppingid .content {
    padding: 0 20px;
    box-sizing: border-box;
}
.subindex_wrap {
    padding-top: 120px;
}
.subindex_greenbox {
    padding: 16px 17px 0;
    border-radius: 12px;
    box-shadow: 2px 2px 14px 0 rgb(0 164 73 / 8%);
    border: #000000;
    background-color: #ffffff;
    box-sizing: border-box;
}
.info_title {
    position: relative;
}
.info_title .title_text {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -.4px;
    color: #96a1aa;
}
.myinfo_area {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 12px 0;
}
.myinfo_area .myphoto img {
    box-shadow: 0 3px 6px 0 rgb(29 34 53 / 8%);
    border-radius: 50%;
    vertical-align: top;
}
.myinfo_area .myaccount {
    display: block;
}
.myinfo_area .myaccount .myname {
    position: relative;
    padding-right: 70px;
}
.myinfo_area .myaccount .myname .name_text {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -.63px;
    color: #1e1e23;
    word-break: break-all;
}
.myinfo_area .myaccount .myname .btn_accent, .myinfo_area .myaccount .myname .btn_edit, .myinfo_area .myaccount .myname .btn_logout {
    position: absolute;
    top: 2px;
    right: 0;
}
.btn_accent .text, .btn_edit .text, .btn_logout .text {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -.47px;
    color: #7b8994;
}
.myinfo_area .myaccount .myaddress {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: normal;
    color: rgba(123,137,148,.8);
    word-break: break-all;
}
.header_left .left_menu li+li {
    margin-top: 30px;
}
.myprofile+.subindex_row {
    border-top: 1px solid rgba(220,227,233,.8);
}
.subindex_row .row_item {
    padding: 12px 0 12px 30px;
}
.row_item {
    position: relative;
    padding: 10px 0 10px 30px;
}
.row_item .item_text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -.8px;
    color: #303038;
    word-break: break-all;
}
.row_item .btn_accent, .row_item .btn_edit, .row_item .btn_logout {
    float: right;
}
.btn_accent, .btn_edit, .btn_logout {
    display: inline-block;
    min-width: 44px;
    padding: 2px 9px 3px;
    border-radius: 4px;
    border: solid 1px rgba(212,216,229,.5);
    background-color: rgba(212,216,229,.25);
    box-sizing: border-box;
    text-align: center;
}
.btn_accent .text, .btn_edit .text, .btn_logout .text {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -.47px;
    color: #7b8994;
}
.subindex_row .row_item {
    padding: 12px 0 12px 30px;
}
.row_item {
    position: relative;
    padding: 10px 0 10px 30px;
}
.subindex_item+.subindex_item {
    padding-top: 24px;
}
.subindex_onebox {
    position: relative;
    padding: 19px 17px 18px;
    border-radius: 12px;
    box-shadow: 1px 1px 10px 0 rgb(72 75 108 / 8%);
    border: solid 1px #e3e9ed;
    background-color: #fff;
    box-sizing: border-box;
}
.onebox_title {
    display: inline-block;
}
.subindex_title {
    display: inline;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -.2px;
    color: #303038;
}
.link_right {
    position: relative;
    top: 3px;
    float: right;
    padding-right: 12px;
}
.link_right .case {
    padding-left: 1px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -.2px;
    color: #03c75a;
}
.subindex_desc {
    display: block;
    padding-top: 3px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -.8px;
    color: #b0b8bf;
}
.subindex_onebox::after {
    content: " ";
    display: block;
    clear: both;
}

@media (min-width: 768px){
.subindex_desc {
    display: inline-block;
    vertical-align: top;
	}
}
@media (min-width: 768px){
.onebox_title.desc {
    padding-right: 9px;
	}
}
@media (min-width: 1200px){
.shoppingid {
    width: 1200px;
	}
}
@media (min-width: 1024px){
.shoppingid {
    display: table;
    table-layout: fixed;
    width: 1024px;
    height: 100%;
    margin: 0 auto;
	}
}
@media (min-width: 1024px){
.shoppingid .header {
    position: relative;
    display: table-cell;
    width: 395px;
    background-color: #fff;
    box-shadow: 5px 1px 8px 0 rgb(0 0 0 / 6%);
    border-left: 1px solid rgba(0,0,0,.08);
    vertical-align: top;
    z-index: 1;
	}
}
@media (min-width: 1024px){
.header_subindex {
    position: inherit;
    box-shadow: none;
	}
}
@media (min-width: 768px){
.profile_area {
    padding: 12px 20px 20px;
	}
}
@media (min-width: 1024px){
.header_subindex .profile_area {
    display: block;
    background-color: #fff;
	}
}
@media (min-width: 1024px){
.profile_area .profile_inner {
    width: 100%;
	}
}
@media (min-width: 768px){
.profile_area .profile_inner {
    margin: 0 auto;
	}
}
@media (min-width: 768px){
.profile_area .photo img {
    width: 112px;
    height: 112px;
	}
}
@media (min-width: 768px){
.profile_area .profile {
    padding: 8px 0 40px;
	}
}
@media (min-width: 1024px){
.header_left {
    display: block;
    padding: 0 40px;
    box-sizing: border-box;
	}
}
@media (min-width: 1024px){
.header_left .left_menu {
    margin-top: 19px;
	}
}
@media (min-width: 1024px){
.header_left .left_menu .menu_text.on {
    position: relative;
    font-weight: 700;
    color: #1e1e23;
	}
}
@media (min-width: 1024px){
.header_left .left_menu .menu_text {
    display: inline-block;
    font-size: 19px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: -1.18px;
    color: #303038;
	}
}
@media (min-width: 1024px){
.header_left .left_menu .menu_text.on::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #1e1e23;
    border-radius: 1px;
	}
}
@media (min-width: 1024px){
.shoppingid .container {
    display: table-cell;
    width: 100%;
    vertical-align: top;
	}
}
@media (min-width: 1200px){
.shoppingid .content {
    padding-left: 60px;
	}
}
@media (min-width: 1024px){
.shoppingid .content {
    padding: 0 30px;
	}
}
@media (min-width: 1024px){
.subindex_wrap {
    padding-top: 0;
    margin-top: 0;
	}
}
@media (min-width: 768px){
.subindex_wrap {
    padding-top: 152px;
	}
}
@media (min-width: 1200px){
.shoppingid_wrap, .other_wrap, .subindex_wrap {
    width: 694px;
	}
}
@media (min-width: 1024px){
.shoppingid_wrap, .other_wrap, .subindex_wrap {
    width: 569px;
    margin: inherit;
    margin-top: 0;
	}
}
@media (min-width: 768px){
.shoppingid_wrap, .other_wrap, .subindex_wrap {
    width: 694px;
    margin: 0 auto;
	}
}
@media screen and (max-width: 1680px){
.inner {
    max-width: calc(100% - 12rem);
	}
}














